<h1>This is homepage!</h1>

<%= link_to "Alpha blog", articles_path %> |
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'About', about_path %></button>
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Agenda', agenda_path %></button>
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Speaker', speaker_path %></button>
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Location', location_path %></button>

